/Portugol-GoGoBoard-Plugin/.nb-gradle/
/Portugol-GoGoBoard-Plugin/build/
/Portugol-GoGoBoard-Plugin/bin/
/Portugol-GoGoBoard-Plugin/.settings
/Portugol-GoGoBoard-Plugin/.classpath
/Portugol-GoGoBoard-Plugin/.project
Portugol-GoGoBoard-Plugin/\.gradle/
